@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.bg-gray);
  --foreground: theme(colors.light);
  --primary: theme(colors.primary);
  --primary-dark: theme(colors.primary-dark);
  --primary-light: theme(colors.primary-light);
  --text-gray: theme(colors.text-gray);
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--background);
  font-family: var(--font-montserrat); /* Використання шрифта */
  color: var(--foreground);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 3px;
}

.mobile-scroll-wrapper {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111111; /* або твій bg-darker */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* колір повзунка */
  border-radius: 4px;
  border: 2px solid #111111; /* або bg-darker */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
